@charset "utf-8";
/* CSS Only For HTML Coder */

.chatwithfriends{
	display:block;
	bottom:-100%;	
	/* bottom:0; */
	right:0;
	z-index:9999;
	width:220px;
	position:fixed;
	height:400px;
	max-height:100%;
	padding:0;
}
.chatwithfriends .cont{
	display:block;
	position:relative;
	height:100%;
	background-color:#fff;
	border-radius:4px 4px 0 0;
	border-left:1px solid #2D2D2D;
	border-right:1px solid #2D2D2D;
}
.chatwithfriends .ttl{
	display:block;
	width:100%;
	background-color:#2D2D2D;
	padding:8px 10px;
	color:#fff;
	font-size:15px;
	text-align:center;
	cursor:pointer;
	font-weight:600;
	line-height:20px;
	position:relative;
	height:34px;
	border-radius:4px 4px 0 0;
	z-index:9;
}
.chatwithfriends .ttl .fa{
	margin:0 6px 0 0;
	float:left;
	line-height:24px;
}
.chatwithfriends .ttl .fa.fa-minus{
	display:none;
}
.chatwithfriendslist{
	display:block;
	width:100%;
	padding:34px 0 0 0;
	height:100%;
	overflow:auto;
	position:absolute;
	top:0;
	left:0;
	overflow:hidden
}
.chatwithfriendslist .listscroll{
	display:block;
	max-height:100%;
	overflow:auto;
}
.chatwithfriendslist ul{
	display:block;
	float:left;
	width:100%;
	min-height:100%;
	padding:0;
}
.chatwithfriendslist ul li{
	display:block;
	float:left;
	width:100%;
	padding:6px 8px;
	cursor:pointer;
}
.chatwithfriendslist ul li:hover{
	background-color:#f2f2f2;
}
.chatwithfriendslist ul li .frnds{
	display:block;
	position:relative;
}
.chatwithfriendslist ul li .frnds .photo{
	display:block;
	width:16%;
	float:left;
}
.chatwithfriendslist ul li .frnds .photo img{
	display:block;
	width:100%;
	height:auto;
}
.chatwithfriendslist ul li .frnds .name{
	display:block;
	float:left;
	width:84%;
	font-size:12px;
	font-weight:600;
	padding:7px 20px 0 12px;
	color:#515151;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis; 	
}
.chatwithfriendslist ul li .frnds .status{
	display:block; position:absolute; top:7px; right:0; font-size:10px;
}
.chatwithfriendslist ul li .frnds .status .fa.online{color:#75d700;}
.chatwithfriendslist ul li .frnds .status .fa.offline{color:#ccc;}


.chatpopup{
	display:block;
	width:auto;
	max-width:100%;
	position:fixed;
	bottom:0;
	right:224px;
	/* width:auto; */
	max-width:100%;
	z-index:999;
	text-align:center;
	padding:0;
	height:0px;
}
.popupchatbox{
	display:block;
	float:right;
	width:auto;
	height:320px;
	margin:0 10px 0 0;
	position:relative;
	bottom:320px;
}
/* .chatpopup .popupchatbox{
	display:none;
}
.chatpopup .popupchatbox:nth-child(1),
.chatpopup .popupchatbox:nth-child(2),
.chatpopup .popupchatbox:nth-child(3),
.chatpopup .popupchatbox:nth-child(4){
	display:block;
} */
.onlinechat{
	display:block;
	float:right;
	width:260px;
	max-width:100%;
	height:320px;
	max-height:100%;
	position:relative;
	/* margin:-170px; */
	background-color:#fff;
	border-radius:4px 4px 0 0;
	overflow:hidden;
	/* -webkit-box-shadow:0 34px 2px 1px #C2C2C2;
	box-shadow:0 34px 2px 1px #C2C2C2; */
}
.onlinechat .title{
	display:block;
	background-color:#4A4A4A;
	padding:0 26px 8px 0;
	color:#fff;
	font-size:15px;
	line-height:18px;
	text-align:left;
	height:34px;
	position:relative;
	z-index:9;
}
.onlinechat .title span{
	display:block;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis; 
}
.onlinechat .title .uname{padding:8px 26px 7px 24px; cursor:default; position:relative; z-index:2;}
.onlinechat .title .uname > b > .fa{display:block; position:absolute; top:12px; left:8px; font-size:10px; line-height:12px;}
.onlinechat .title .uname > b > .fa.online{color:#75d700;}
.onlinechat .title .uname > b > .fa.offline{color:#ccc;}
.onlinechat .msglist{
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	padding:46px 10px 90px 10px;
	overflow:hidden;
	z-index:1;
	border-left:1px solid #4A4A4A;
	border-right:1px solid #4A4A4A;
}
.onlinechat .chatallmsg{
	display:block;
	max-height:100%;
	overflow:auto !important;
	padding-right:4px;
}
.onlinechat .msglist .list{
	display:block;
	padding:4px 0;
	text-align:left;
	position:relative;
}
.onlinechat .msglist .list .photo{
	display:inline-block;
	width:28px;
	max-height:28px;
	overflow:hidden;
	vertical-align:top;
	position:absolute;
	top:4px;
	left:0;
}
.onlinechat .msglist .list .photo img{
	display:block;
	width:100%;
	height:auto;
}
.onlinechat .msglist .list .comment{
	display:block;
	padding:0 0 0 42px;
	text-align:left;
}
.onlinechat .msglist .list .comment .type{
	display:inline-block;
	background-color:#f2f2f2;
	border:1px solid #e6233f;
	border-radius:4px;
	padding:4px 6px;
	font-size:13px;
	font-weight:600;
	position:relative;
	color:#474747;
	min-height:30px;
}
.onlinechat .msglist .list .comment .type:before{
	content:"";
	position:absolute;
	top:6px;
	left:-12px;
	border-right:12px solid #e6233f;
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	z-index:1;
}
.onlinechat .msglist .list .comment .type:after{
	content:"";
	position:absolute;
	top:7px;
	left:-10px;
	border-right:10px solid #f2f2f2;
	border-top:4px solid transparent;
	border-bottom:4px solid transparent;
	z-index:9;
}
.onlinechat .msglist .list .comment .type p{
	margin:0;
	padding:0;
	font-size:12px;
	line-height:16px;
	font-weight:600;
	color:#474747;
}
.chattime{
	display:block;
	margin:5px 0;
	font-size:10px;
	font-weight:600;
	color:#949494;
	text-align:left;
}
.onlinechattype{
	display:block;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	padding:10px;
	background-color:#fff;
	z-index:9;	
	border-left:1px solid #4A4A4A;
	border-right:1px solid #4A4A4A;
}
.onchatclose{
	display:block;
	position:absolute;
	top:0;
	right:0;
	font-size:15px;
	line-height:34px;
	cursor:pointer;
	padding:0;
	text-align:center;
	height:34px;
	width:30px;
}
.onchatopncls{
	display:block;
	position:absolute;
	top:0;
	right:30px;
	font-size:15px;
	cursor:pointer;
	padding:0;
	line-height:34px;
	z-index:1;
}
.onlinechattype textarea{
	display:block;
	background-color:#fff;
	padding:3px;
	border:1px solid #b3b3b3;
	height:70px;
	padding-right: 20px;
}
.chatbx{
	display:none;
}
.chatpopup.chatfullheight{height:0px; padding:0;}
.chatSpacer{clear:both;}

.onlinechat .msglist .list.myreply{text-align:right;}
.onlinechat .msglist .list.myreply .photo{left:auto; right:0;}
.onlinechat .msglist .list.myreply .comment{padding-left:0; padding-right:42px;text-align:right;}
.onlinechat .msglist .list.myreply .comment .type{border-color:#ccc;}
.onlinechat .msglist .list.myreply  .comment .type:before{
	left:auto;
	right:-12px;
	border-right:none;
	border-left:12px solid #ccc;
}
.onlinechat .msglist .list.myreply  .comment .type:after{
	left:auto;
	right:-10px;
	border-right:none;
	border-left:10px solid #f2f2f2;
}
.onlinechat .msglist .list.myreply .chattime{text-align:right;}
.chatAttach{display: block; position:absolute; bottom: 11px; right:11px; width:20px; height:26px;}
.chatAttach input{display: none;}
.chatAttach img{display: block;position: absolute; top: 50%; left:50%; -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%); margin-top:0;}

@media only screen and (max-width:516px){
	.chatpopup{right:0; width:260px;/*  z-index:9999; */}
	.popupchatbox{margin:0;}
	.allFriendsList{height:234px;}
	.allUserTabtab_view{padding-bottom:34px;}
}
